<!DOCTYPE html>
<html>

<head>
    <title>Project 2: Interactive Dashboard</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="assets/dashboard.css">

    <link rel="stylesheet" href="assets/dashboard-pages.css">


    <!--Fonts-->
    <link rel="stylesheet" href="https://use.typekit.net/tmf5pjw.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="preload">

    <header class="header">
        <button class="header_button" id="btnNav" type="button">
            <i class="material-icons">menu</i>
        </button>
    </header>

    <!--NAV BAR-->
    <nav class="nav">
        <div class="nav_links">
            <a class="nav_link nav_link-active" href="dashboard.html">
                Dashboard
            </a>
            <a href="comps.html" class="nav_link">
                Comps Analysis
            </a>
            <a class="nav_link" href="scatter.html">
                Scatter Plot
            </a>
            <a class="nav_link" href="line.html">
                Line Chart
            </a>
            <a class="nav_link" href="maps.html">
                Map
            </a>
        </div>
        <div class="nav_overlay"></div>
    </nav>
    <main>
        <h2>Comprehensive Analysis</h2>
    </main>

    <div class="flexbox">
        <div class="content-flexbox one">
            1
            2
            3
            4
            5
            6
            7
            8
            9
            1
            <br><Br><br><br><br><br>
            2
            2
            33
            4
            5
            6
            
            3y
            
        </div>
    </div>

</body>

<script src="dashboard.js"></script>

</html>