<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Selected Address: {{ selected_address }}</p>
    <p>Selected Zip Code: {{ selected_zip_code }}</p>
    <p>Target Square Footage: {{ target_square_footage }}</p>
    <p>Comp 1 Square Footage: {{ comp_1_square_footage }}</p>
    <p>Comp 2 Square Footage: {{ comp_2_square_footage }}</p>
    <p>Comp 3 Square Footage: {{ comp_3_square_footage }}</p>
    <p>Comp 4 Square Footage: {{ comp_4_square_footage }}</p>
    <p>Comp 5 Square Footage: {{ comp_5_square_footage }}</p>
    <p>Comp 1 Sale Price: {{ comp_1_sale_price }}</p>
    <p>Comp 2 Sale Price: {{ comp_2_sale_price }}</p>
    <p>Comp 3 Sale Price: {{ comp_3_sale_price }}</p>
    <p>Comp 4 Sale Price: {{ comp_4_sale_price }}</p>
    <p>Comp 5 Sale Price: {{ comp_5_sale_price }}</p>
</body>
</html>