<!DOCTYPE html>
<html lang="en">

<head>
    <title>Philadelphia Housing Dashboard</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="../static/css/dashboard.css">

    <!--Fonts-->
    <link rel="stylesheet" href="https://use.typekit.net/tmf5pjw.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body class="preload">

    <header class="header">
        <button class="header_button" id="btnNav" type="button">
            <i class="material-icons">menu</i>
        </button>
    </header>

    <!--NAV BAR-->
    <nav class="nav">
        <div class="nav_links">
            <a class="nav_link nav_link-active" href="index.html">
                Dashboard
            </a>
            <a href="comps.html" class="nav_link">
                Comps Analysis
            </a>
            <a class="nav_link" href="scatter.html">
                Scatter Plot
            </a>
            <a class="nav_link" href="line.html">
                Line Chart
            </a>
            <a class="nav_link" href="map.html">
                Map
            </a>
        </div>
        <div class="nav_overlay"></div>
    </nav>

    <main>
        <h2>Dashboard</h2>
        <p>Some info about the dashboard?</p>
    </main>

    <div class="flexbox">
        <div class="content-flexbox one">

            <!-- Dropdown filters -->
            <form action="">
                <label for="year">Year: </label>
                <select name="year" id="year">
                    <option value="no_selection" disabled selected value>Select a Year</option>
                    {% for item in year %}
                    <option value="{{ item }}">{{ item[0] }}</option>
                    {% endfor %}
                </select>
                <br><br>
                <!-- Below is placeholder for now -->
                <input type="submit" value="Apply Filters">
            </form>

        </div>
        
        <!--<div class="content-flexbox two">
            2
        </div>
        <div class="content-flexbox three">
            3
        </div>
        <div class="content-flexbox four">
            4
        </div>-->
    </div>

    <!--<h1>test</h1>-->



</body>

<!-- Scripts -->
<script src="../static/js/dashboard.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>

<!-- Script for scatter plot -->
<!--<script src="{{ url_for('static', filename='js/scatter.js') }}"></script>-->

</html>