<!DOCTYPE html>
<html lang="en">

<head>
    <title>Map</title>


    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta charset="UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Link to css files -->
    <link rel="stylesheet" href="../static/css/comps.css" />

    <link rel="stylesheet" href="../static/css/index.css">

    <link rel="stylesheet" href="../static/css/dashboard-pages.css">

    <!-- "Slick Loader" - loading gif - https://github.com/Zenoo/slick-loader -->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/slick-loader@1.1.20/slick-loader.min.css">
    <script src="https://unpkg.com/slick-loader@1.1.20/slick-loader.min.js"></script>

    <!--Fonts-->
    <link rel="stylesheet" href="https://use.typekit.net/tmf5pjw.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

    <header class="header">
        <button class="header_button" id="btnNav" type="button">
            <i class="material-icons">menu</i>
        </button>
    </header>

    <!--NAV BAR-->
    <nav class="nav">
        <div class="nav_links">
            <a class="nav_link nav_link-active" href="/"> Dashboard </a>
            <a href="comps" class="nav_link"> Comps Analysis </a>
            <a class="nav_link" href="scatter"> Scatter Plot </a>
            <a class="nav_link" href="line"> Line Chart </a>
            <a class="nav_link" href="map"> Map </a>
        </div>
        <div class="nav_overlay"></div>
    </nav>

    <main>
        <h2>Choropleth Map</h2>
        <p>Select attributes to filter and review recent comparable property sales</p>
    </main>

    <h1>Map</h1>

    <div class="flexbox wrapper">
        <div class="filter">
            <!-- Dropdown filter -->
            <form action="">
                <!-- Filter for Year -->
                <label for="year">Year: </label>
                <select name="year" id="year">
                    <option value="no_selection" disabled selected value>Select a Year</option>
                    {% for item in year %}
                    <option value="{{ item }}">{{ item[0] }}</option>
                    {% endfor %}
                </select>
                <br><br>
                <!-- Filter for Zip Code -->
                <label for="zip_codes">Zip Code: </label>
                <select name="zip_codes" id="zip_codes">
                    <option value="no_selection" disabled selected value>ZIP</option>
                    {% for item in zip_codes %}
                    <option value="{{ item[0] }}">{{ item[0] }}</option>
                    {% endfor %}
                </select>
                <br><br>
                <!-- Filter for Category Code -->
                <label for="category_code">Category Code: </label>
                <select name="category_code" id="category_code">
                    <option value="no_selection" disabled selected value>Category Code</option>
                    {% for item in category_code %}
                    <option value="{{ item[0] }}">{{ item[0] }}</option>
                    {% endfor %}
                </select>
                <br><br>
                <!-- Filter for Building Code -->
                <label for="building_code">Building Code: </label>
                <select name="building_code" id="building_code">
                    <option value="no_selection" disabled selected value>Building Code</option>
                    {% for item in building_code %}
                    <option value="{{ item[0] }}">{{ item[0] }}</option>
                    {% endfor %}
                </select>
                <br><br>
                <!-- Filter for Basements -->
                <label for="basements">Building Code: </label>
                <select name="basements" id="basements">
                    <option value="no_selection" disabled selected value>Basements</option>
                    {% for item in basements %}
                    <option value="{{ item[0] }}">{{ item[0] }}</option>
                    {% endfor %}
                </select>
                <br><br>
                <!-- Filter for Central Air -->
                <label for="central_air">Central Air: </label>
                <select name="central_air" id="central_air">
                    <option value="no_selection" disabled selected value>Central Air</option>
                    {% for item in central_air %}
                    <option value="{{ item[0] }}">{{ item[0] }}</option>
                    {% endfor %}
                </select>
                <br><br>
                <!-- Filter for Exterior Condition -->
                <label for="exterior_condition">Exterior Condition: </label>
                <select name="exterior_condition" id="exterior_condition">
                    <option value="no_selection" disabled selected value>Exterior Condition</option>
                    {% for item in exterior_condition %}
                    <option value="{{ item[0] }}">{{ item[0] }}</option>
                    {% endfor %}
                </select>
                <br><br>
                <!-- Filter for Garage Spaces -->
                <label for="garage_spaces">Garage Spaces: </label>
                <select name="garage_spaces" id="garage_spaces">
                    <option value="no_selection" disabled selected value>Y/N</option>
                    {% for item in garage_spaces %}
                    <option value="{{ item[0] }}">{{ item[0] }}</option>
                    {% endfor %}
                </select>
                <br><br>
                <!-- Filter for Fireplaces -->
                <label for="fireplaces">Fireplaces: </label>
                <select name="fireplaces" id="fireplaces">
                    <option value="no_selection" disabled selected value>Y/N</option>
                    {% for item in fireplaces %}
                    <option value="{{ item[0] }}">{{ item[0] }}</option>
                    {% endfor %}
                </select>
                <br><br>
                <!-- Below is placeholder for now -->
                <!-- <input type="submit" value="Apply Filters"> -->
                <input id="submit" type="submit" value="Apply Filters">
            </form>
        </div>

        <div class="content">
            <div id="map"></div>
        </div>

    </div>


</body>

<!-- Leaflet JS -->
<script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js" integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q==" crossorigin=""></script>
<!-- d3 JS -->
<script src="https://d3js.org/d3.v5.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script> -->

<!-- Marker Cluster JS -->
<script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>

<!-- Our JS -->
<script type="text/javascript" src="../static/js/config.js"></script>
<script type="text/javascript" src="../static/js/map.js"></script>


</html>