<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Regression Model Details</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta charset="UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Link to css files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/model-drill-through.css') }}" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard-pages.css') }}" />

    <!-- "Slick Loader" - loading gif - https://github.com/Zenoo/slick-loader -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://unpkg.com/slick-loader@1.1.20/slick-loader.min.css"
    />
    <script src="https://unpkg.com/slick-loader@1.1.20/slick-loader.min.js"></script>

    <!-- Jquery/selectize js and css - for having "smartsearch" in filter boxes -->
    <!-- See second answer from https://stackoverflow.com/questions/18796221/creating-a-select-box-with-a-search-option/57809086#57809086 -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"
      integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css"
      integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg="
      crossorigin="anonymous"
    />

    <script>
      $(document).ready(function () {
        $("select").selectize({});
      });
    </script>

    <!--Fonts-->
    <link rel="stylesheet" href="https://use.typekit.net/tmf5pjw.css" />

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header">
      <button class="header_button" id="btnNav" type="button">
        <i class="material-icons">menu</i>
      </button>
    </header>

    <!--NAV BAR-->
    <nav class="nav">
      <div class="nav_links">
        <a class="nav_link nav_link-active" href="/"> Dashboard </a>
        <a href="/comps" class="nav_link"> Comps Analysis </a>
        <a class="nav_link" href="/scatter"> Scatter Plot </a>
        <a class="nav_link" href="/line"> Line Chart </a>
        <a class="nav_link" href="/map"> Heat Map </a>
        <a class="nav_link" href="/analyzer"> Analyzer </a>
      </div>
      <div class="nav_overlay"></div>
    </nav>

    <main>
      <h2>Housing Model Details</h2>
      <p>View how the price of your selected property is calculated</p>
    </main>

    <div class="flexbox wrapper">
      <div class="filter">
        <h2>House Attributes</h2>
        <p>Basement: {{ finished_basement }}</p>
        <p>Central Air: {{ central_air }}</p>
        <p>Number of Bedrooms: {{ number_of_bedrooms }}</p>
        <p>Number of Bathrooms: {{ number_of_bathrooms }}</p>
        <p>Square Footage: {{ "{:,.0f}".format(square_footage | float) }}</p>
        <p>Interior Condition: {{ interior_condition }}</p>
        <p>Number of Garage Spaces: {{ parking_spaces }}</p>
        <p>Age of Home: {{ age }}</p>
        <p><strong>Sale Price: {{ "${:,.0f}".format(regression_valuation | float) }}</strong></p>

        <h2>Formula</h2>
        <p>
          <strong>{{ "${:,.0f}".format(regression_valuation | float) }}</strong> = {{ finished_basement }}*[coeff_basement] + {{ central_air }}*[coeff_air] +
          {{ number_of_bedrooms }}*[coeff_beds] + {{ number_of_bathrooms }}*[coeff_baths] + {{ square_footage }}*[coeff_sq] + {{ interior_condition }}*[coeff_cond] + {{ parking_spaces }}*[coeff_garage] + {{ age }}*[coeff_age]
        </p>

        <p>
          <strong>{{ "${:,.0f}".format(regression_valuation | float) }}</strong> = {{ finished_basement }}*{{ finished_basement_coef }} + {{ central_air }}*{{ central_air_coef }} +
          {{ number_of_bedrooms }}*{{ number_bedrooms_coef }} + {{ number_of_bathrooms }}* {{ number_bathrooms_coef }} + {{ square_footage }}*{{ square_footage_coef }} + {{ interior_condition }}*{{ interior_condition_coef }} + {{ parking_spaces }}*{{ parking_spaces_coef }} + {{ age }}*{{ age_coef }}
        </p>

      </div>

      <div class="filter">
        <h2>Model Accuracy Analysis</h2>
        <img src="{{ url_for('static', filename='images/model_residual_plot.png') }}" alt="Residuals Plot" />
        <p>
          The above image displays what is known as a <strong>residuals plot</strong>. This plot simply graphs the predicted versus the actual results of the regression model.
          An accurate model will show residual points hovering around zero on the y-axis. In the case of this plot, there are some deviations from zero, especially in the areas highlighted 
          with the red circles. These outliars on the residuals plot are an indicator that the model may be missing some key information to perform its prediction. 
        </p>
        <p>The model achieved an r<sup>2</sup> value of {{ rsquared }}, meaning that approximately {{ ((rsquared | float) * 100)|round(2) }}% of the variation in home sale prices can be explained by the predictors used in the model.
           If the model ingested additional information, perhaps such as proximity to parks/shops, demographic information, or school district information, it could produce a better result. 
           Further research and experimentation (and of course, more data!) would be needed to improve this model's prediction capability.
        </p>
      </div>
    </div>
  </body>

  <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</html>
