<!DOCTYPE html>
<html lang="en">

<head>
    <title>Scatter Plot</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta charset="UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Link to css files -->
    <link rel="stylesheet" href="../static/css/comps.css" />

    <link rel="stylesheet" href="../static/css/index.css">

    <link rel="stylesheet" href="../static/css/dashboard-pages.css">

    <link rel="stylesheet" href="../static/css/scatter.css">

    <!-- "Slick Loader" - loading gif - https://github.com/Zenoo/slick-loader -->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/slick-loader@1.1.20/slick-loader.min.css">
    <script src="https://unpkg.com/slick-loader@1.1.20/slick-loader.min.js"></script>

    <!-- Jquery/selectize js and css - for having "smartsearch" in filter boxes -->
    <!-- See second answer from https://stackoverflow.com/questions/18796221/creating-a-select-box-with-a-search-option/57809086#57809086 -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />

    <script>$(document).ready(function () {
        $('select').selectize({});
    });</script>

    <!--Fonts-->
    <link rel="stylesheet" href="https://use.typekit.net/tmf5pjw.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="preload">

    <header class="header">
        <button class="header_button" id="btnNav" type="button">
            <i class="material-icons">menu</i>
        </button>
    </header>

    <!--NAV BAR-->
    <nav class="nav">
        <div class="nav_links">
            <a class="nav_link nav_link-active" href="/"> Dashboard </a>
            <a href="comps" class="nav_link"> Comps Analysis </a>
            <a class="nav_link" href="scatter"> Scatter Plot </a>
            <a class="nav_link" href="line"> Line Chart </a>
            <a class="nav_link" href="map"> Heat Map </a>
        </div>
        <div class="nav_overlay"></div>
    </nav>

    <main>
        <h2>Scatter Plot</h2>
        <p>Select attributes to filter and review correlations among property features and sale price</p>
    </main>

    <div class="flexbox wrapper">
        <div class="filter">
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <!-- Dropdown filter -->
                    <form action="">
                        <!-- Filter for Year -->
                        <label for="year">Year: </label>
                        <select name="year" id="year">
                            <option value="no_selection" selected value>All Years</option>
                            {% for item in year %}
                            <option value="{{ item[0] }}">{{ item[0] }}</option>
                            {% endfor %}
                        </select>
                        <br><br>
                        <!-- Filter for Zip Code -->
                        <label for="zip_codes">Zip Code: </label>
                        <select name="zip_codes" id="zip_codes">
                            <option value="no_selection" selected value>All ZIP Codes</option>
                            {% for item in zip_codes %}
                            <option value="{{ item[0] }}">{{ item[0] }}</option>
                            {% endfor %}
                        </select>
                        <br><br>
                        <!-- Filter for Category Code -->
                        <label for="category_code">Category Code: </label>
                        <select name="category_code" id="category_code">
                            <option value="no_selection" selected value>Category Code</option>
                            {% for item in category_code %}
                            <option value="{{ item[0] }}">{{ item[0] }}</option>
                            {% endfor %}
                        </select>
                        <br><br>
                        <!-- Filter for Building Code -->
                        <label for="building_code">Building Code: </label>
                        <select name="building_code" id="building_code">
                            <option value="no_selection" selected value>Building Code</option>
                            {% for item in building_code %}
                            <option value="{{ item[0] }}">{{ item[0] }}</option>
                            {% endfor %}
                        </select>
                        <br><br>
                        <!-- Filter for Basements -->
                        <label for="basements">Basement Type: </label>
                        <select name="basements" id="basements">
                            <option value="no_selection" selected value>All Basement Types</option>
                            {% for item in basements %}
                            <option value="{{ item[0] }}">{{ item[1] }}</option>
                            {% endfor %}
                        </select>
                        <br><br>
                        <!-- Filter for Central Air -->
                        <label for="central_air">Central Air: </label>
                        <select name="central_air" id="central_air">
                            <option value="no_selection" selected value>Central Air</option>
                            {% for item in central_air %}
                            <option value="{{ item[0] }}">{{ item[0] }}</option>
                            {% endfor %}
                        </select>
                        <br><br>
                        <!-- Filter for Exterior Condition -->
                        <label for="exterior_condition">Exterior Condition: </label>
                        <select name="exterior_condition" id="exterior_condition">
                            <option value="no_selection" selected value>Exterior Condition</option>
                            {% for item in exterior_condition %}
                            <option value="{{ item[0] }}">{{ item[1] }}</option>
                            {% endfor %}
                        </select>
                        <br><br>
                        <!-- Filter for Garage Spaces -->
                        <label for="garage_spaces">Garage Spaces: </label>
                        <select name="garage_spaces" id="garage_spaces">
                            <option value="no_selection" selected value>Y/N</option>
                            {% for item in garage_spaces %}
                            <option value="{{ item[0] }}">{{ item[0] }}</option>
                            {% endfor %}
                        </select>
                        <br><br>
                        <!-- Filter for Fireplaces -->
                        <label for="fireplaces">Fireplaces: </label>
                        <select name="fireplaces" id="fireplaces">
                            <option value="no_selection" selected value>Y/N</option>
                            {% for item in fireplaces %}
                            <option value="{{ item[0] }}">{{ item[0] }}</option>
                            {% endfor %}
                        </select>
                        <br><br>
                        <!-- Below is placeholder for now -->
                        <input id="submit" type="submit" value="Apply Filters">
                    </form>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="col-xs-12  col-md-9 scatter-area">
                <div id="scatter">
                    <!-- We append our chart here. -->
                </div>
            </div>
        </div>
    </div>

</body>
<!-- Script for d3 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>

<!-- Script for scatter plot -->
<script src="{{ url_for('static', filename='js/scatter.js') }}"></script>

<!-- Script for layout js elements -->
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>

<script src="../static/js/dashboard.js"></script>

</html>