#map {
    height: 300px;
    margin-top: 35px;
}

#freddie-mac-scrape {
    margin-top: 31px;
}

#reset-button {
    display: inline-block;
    margin-top: 35px;   
}

#property-addr-title {
    display: inline-block;
    margin-top: 35px;   
}

.disabled-href {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: black;
}