* {
    box-sizing: border-box;
    width: 100%;
}

body {
    /*--header-height: 50px;*/
    margin: var(--header-height) 0 0 0;
    font-family: 'Muli', sans-serif;
}

main {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding-top: 20px;
    margin: auto;
}

.preload * {
    transition: none !important;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    background: #3182bd;
    display: flex;
}

.header_button {
    width: var(--header-height);
    flex-shrink: 0;
    background: none;
    outline: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

.nav_links {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100vh;
    width: 250px;
    background: #ffffff;
    transform: translateX(-250px);
    transition: transform 0.3s;
}

.nav-open .nav_links {
    transform: translateX(0);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.nav_link {
    display: flex;
    align-items: center;
    color: #666666;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    padding: 12px 15px;
    background: transform 0.2s;
}

.nav_link > i {
    margin-right: 15px;
}

.nav_link-active {
    color: #3182bd;
    text-transform: uppercase;
}

.nav_link-active,
.nav_link:hover {
    background: #F2F2F2;
}

.nav_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
}

.nav-open .nav_overlay {
    visibility: visible;
    opacity: 1;
}